* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  color: #000;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1440px;
}

.nav {
  display: flex;
  background-color: #000;
  justify-content: space-between;
  align-items: center;
  height: 64px;

  &__logo {
    height: 65px;
  }

  &__links {
    margin: 0 auto 0 6%;
    display: flex;
    gap: 2rem;
  }

  &__link {
    color: #fff;
    padding: 0.3rem;
  }

  &--active {
    color: #ff1e43;
    padding: 0.3rem;
  }

  &__rightMenu {
    color: #fff;
    font-size: 2rem;
  }
}
